@{
    ViewData["Title"] = "App Page";
}
 <link rel="stylesheet" href="~/css/site.css" />
 <img src="banner.png" alt="flagbanner" class="center">

<div class="text-center">
    <h1 class="display-4">Use the app to lock in your vote!</h1>
    <br>
    <p>The user can only create forms as well as reister on this site. To gain access to voting, please download
        the shown app below.
    </p> 
    <br>
    <p>App here</p>
 

</div>
