@{
    ViewData["Title"] = "Home Page";
}
 <link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1 class="display-4">Welcome To The PTC-Voting Website</h1>
    <br>
    <p>This website will be used for documenting and editing data that corresponds with the mobile voting app.</p> 
    <p>Please read our privacy policy to ensure you understand the policy.</p>
    <br>
    <img src="flag512.png" alt="UnitedStatesFlag" class="center">

</div>
