@{
    ViewData["Title"] = "Home Page";
}

@*<link rel="stylesheet" href="~/css/site.css" />*@
@*<img src="~/images/banner.png" id="banner" alt="flagbanner" class="center">*@


<div class="text-center">
    <h1 class="display-4">Welcome To The PTC-Voting Website</h1>
    <br>
    <p>This website will be used for documenting and editing data that corresponds with the mobile voting app.</p>
    <p>Please read our privacy policy to ensure you understand the policy.</p>
    <br>
    <img src="~/images/flag512.png" alt="UnitedStatesFlag" class="center">
    <br>
    <h1 class="display-4">What voting is and why it is important</h1>
    <br>
    <p>
        Voting is an expression of who the individual is, the individual has the power to elect in a new political figure that they think will do their best
        to do great in their respected political position. You may not think your vote matters, but joined together with other voters, you become a power that can
        bring change for the better. Please go to the, "Get The App" page, there you can download our app that will allow you to vote.
    </p>
</div>
