@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>>We will never share your data without your prior permissions. We use e-mail info for updates only. User info is stored in a secure database location. We
    ensure the safety and comfort of each users who enters this site as well as the mobile app that corresponds with this site.
</p>
