@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@ViewData["Json"]</h1>

@foreach (var x in ViewBag.results)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@(x.Canidate + ": " + x.Votes)</h5>
           @* @foreach (var y in ViewBag.results)
            {
                <h6 class="card-subtitle mb-2 text-muted">Name: results</h6>
            }*@
        </div>
    </div>
}